body {
    margin: 0;
    background-color: #f2f2f2;
}

.title_image {
   display: flex;
   flex-direction: row;
   margin-top: 2px;
}

.title {
   white-space: pre;
   display: flex;
   flex-direction: row;
}

.logo_title {
   display: flex;
   flex-direction: row;
   gap: 5px;
   margin-left: 10px;
   margin-top: 3px;
   flex: 12;
}

.adjust_date_time {
   display: flex;
   flex-direction: row;
   margin-top: 17px;
   flex:1;
   white-space: pre;
   margin-right: 10px;
   font-family: Space Grotesk,Arial,sans-serif;
}

.title_date_time_container {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow:  0px 0px 4px 4px lightgrey;
  width: 100%;
}

.adjust_card {
  width: 220px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 115px;
  border-right: 1px solid #cccccc;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.adjust_last_card {
  width: 220px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 115px;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.background1 {
  display: flex;
  flex-direction: row;
  width: 1100px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 115px;
  box-shadow:  1px 1px 4px 4px lightgrey;
}

.adjust_margin1 {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.background2 {
  display: flex;
  flex-direction: row;
  width: 800px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 422px;
  /*box-shadow:  4px 4px 4px 1px lightgrey;*/
  border-top: 2px #FF0000 solid;
}

.random_forest_regression_chart {
   display: flex;
   flex-direction: row;

}

.drop_down_list_title {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   z-index: 0;
}

.drop_down_list {
   display: flex;
   flex-direction: row;
   width: 140px;
   margin-top: 10px;
}

.Select-input{
    height: 25px;
}

.Select-control{
    height: 30px;
}

.Select-placeholder{
    line-height: 33px;
}

.title_drop_down_list {
   display: flex;
   flex-direction: row;
   gap: 3px;
   justify-content: center;
   margin-top: -425px;
}

.drop_down_list_row {
   display: flex;
   flex-direction: row;
   gap: 15px;
   margin-left: 80px;
}

.three_elements_column {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  box-shadow:  1px 1px 4px 4px lightgrey;
}

.weather1 {
  width: 295px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 225px;
  border-bottom: 1px solid #cccccc;;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.title_city {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-weight: bold;
  margin-left: 7px;
  color: #48484a;
}

.weather2 {
  width: 295px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 225px;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.weather_column {
  display: flex;
  flex-direction: column;
}

.weather_background {
  display: flex;
  flex-direction: row;
  width: 295px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 450px;
  box-shadow:  1px 1px 4px 4px lightgrey;
}

.adjust_margin2 {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  column-gap: 7px;
  margin-bottom: 20px;
}

.card_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1a1a1a;
  font-family: Calibri;
  font-size: 16px;
  margin-top: 10px;
}

.predicted_card_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: firebrick;
  font-family: Calibri;
  font-size: 16px;
  margin-top: 10px;
  line-height: 1em;
  text-align: center
}

.card_value1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #00cc00;
  font-family: Calibri;
  font-size: 20px;
}

.predicted_card_value1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1b61e4;
  font-family: Calibri;
  font-size: 20px;
}

.predicted_card_value2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #8db0f2;
  font-family: Calibri;
  font-size: 16px;
  margin-top: -17px;
}

.card_value2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #a6a6a6;
  font-family: Calibri;
  font-size: 16px;
  margin-top: -17px;
}

.card_values_gap {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.card_value3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #7F8C8D;
  font-family: Calibri;
  font-size: 12px;
}

.card_value4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #7F8C8D;
  font-family: Calibri;
  font-size: 12px;
}

.card_value_3_4 {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  margin-top: -5px;
}

.weather_image {
  display: flex;
  flex-direction: row;
}

.temperature_value {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 36px;
  color: #48484a;
  margin-left: -5px;
  margin-top: 3px;
}
.image_value {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feels_like_temp_value {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #48484a;
  margin-left: 7px;
  margin-top: -10px;
}

.speed {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.direction {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.s_d_p1 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
}

.s_d_p2 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
  margin-top: -7px;
}

.s_d_p3 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
  margin-top: -7px;
}

.humidity {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.pressure {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.dew_point {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.visibility {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.bg_color1 {
  width: 250px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 90px;
  border-left: 1px solid #eb6e4b;
}

.bg_color2 {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  margin-top: -8px;
}

.time {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.forecast_temperature_value {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #48484a;
}

.real_feel_temp {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 12px;
  color: #48484a;
}

.forecast_pre_image {
  display: flex;
  flex-direction: row;
  height: 15px;
  width: 15px;
}

.forecast_pre_value {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 12px;
  color: #48484a;
}

.forecast_pre_row {
  display: flex;
  flex-direction: row;
  margin-top: -8px;
}

.forecast_bg {
  display: flex;
  flex-direction: column;
  width: 90px;
  background-color: #d9d9d9;
  height: 170px;
  align-items: center;
}

.forecast_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.forecast_cards_row {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: center;
}

.stat_results {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-weight: bold;
  color: #48484a;
  margin: 0;
}

.error_bg {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  width: 80px;
  height: 30px;
}

.error_bg1 {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  width: 250px;
  height: 30px;
}

.error_text {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
  margin: 0 auto;
  align-items: center;
  /*white-space: pre;*/
}

.error_container1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 250px;
}

.error_container2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-left: 250px;
}

.error_container3 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.error_container_column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.results_column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
