body {
    margin: 0;
    background-color: #f2f2f2;
}

.title_image {
   display: flex;
   flex-direction: row;
   margin-top: 2px;
}

.title {
   white-space: pre;
   display: flex;
   flex-direction: row;
}

.logo_title {
   display: flex;
   flex-direction: row;
   gap: 5px;
   margin-left: 10px;
   margin-top: 3px;
   flex: 12;
}

.adjust_date_time {
   display: flex;
   flex-direction: row;
   margin-top: 17px;
   flex:1;
   white-space: pre;
   margin-right: 10px;
   font-family: Space Grotesk,Arial,sans-serif;
}

.title_date_time_container {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow:  0px 0px 4px 4px lightgrey;
  width: 100%;
}

.adjust_card {
  width: 220px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 115px;
  border-right: 1px solid #cccccc;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.adjust_last_card {
  width: 220px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 115px;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.background1 {
  display: flex;
  flex-direction: row;
  width: 1100px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 115px;
  box-shadow:  1px 1px 4px 4px lightgrey;
}

.adjust_margin1 {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.background2 {
  display: flex;
  flex-direction: row;
  width: 800px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 415px;
  /*box-shadow:  4px 4px 4px 1px lightgrey;*/
  border-top: 1px solid #cccccc;
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow:  1px 1px 4px 4px lightgrey;
}

.weather1 {
  width: 295px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 225px;
  border-bottom: 1px solid #cccccc;;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.title_city {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-weight: bold;
  margin-left: 7px;
  color: #48484a;
}

.weather2 {
  width: 295px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 225px;
  /*box-shadow:  1px 1px 4px 4px lightgrey;*/
}

.weather_column {
  display: flex;
  flex-direction: column;
}

.weather_background {
  display: flex;
  flex-direction: row;
  width: 295px;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 450px;
  box-shadow:  1px 1px 4px 4px lightgrey;
}

.adjust_margin2 {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  column-gap: 7px;
}

.card_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #1a1a1a;
  font-family: Calibri;
  font-size: 16px;
  margin-top: 10px;
}

.card_value1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #00cc00;
  font-family: Calibri;
  font-size: 20px;
}

.card_value2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #a6a6a6;
  font-family: Calibri;
  font-size: 16px;
  margin-top: -17px;
}

.card_values_gap {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.weather_image {
  display: flex;
  flex-direction: row;
}

.temperature_value {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 36px;
  color: #48484a;
  margin-left: -10px;
  margin-top: 3px;
}
.image_value {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feels_like_temp_value {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #48484a;
  margin-left: 7px;
  margin-top: -10px;
}

.speed {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.direction {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.s_d_p1 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
}

.s_d_p2 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
  margin-top: -7px;
}

.s_d_p3 {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
  margin-top: -7px;
}

.humidity {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.pressure {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.dew_point {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.visibility {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.bg_color1 {
  width: 250px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 73px;
  border-left: 1px solid #eb6e4b;
}

.bg_color2 {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.time {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  color: #48484a;
}

.forecast_temperature_value {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #48484a;
}

.forecast_real_feel {
  display: flex;
  flex-direction: row;
  font-family: Space Grotesk,Arial,sans-serif;
  font-size: 12px;
  color: #48484a;
}